.custom-sidebar {
  width: 250px;
  background-color: #003153;
  color: #fff;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  transition: width 0.3s;
  font-family: Arial, sans-serif;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15); /* Regular shadow */
}

.custom-sidebar.collapsed {
  width: 60px;
}

.sidebar-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: #003153;
  color: #fff;
  flex-shrink: 0;
}

.avatar-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.avatar {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: 2px solid #fff;
}

.profile {
  display: flex;
  align-items: center;
  padding: 1rem 0;
  flex-shrink: 0;
}

.profile-info h6 {
  font-size: 16px;
  margin: 0;
}

.profile-info p {
  font-size: 14px;
  margin: 0;
  color: #d2d7dc;
}

.sidebar-content {
  padding: 1rem;
  background-color: #003153;
  overflow-y: auto;
  flex-grow: 1;
}

.menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-list li {
  margin-bottom: 1rem;
}

.menu-list li a {
  text-decoration: none;
  color: #d2d7dc;
  font-size: 14px;
  display: block;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.menu-list li a:hover {
  color: #fff;
  background-color: #0056b3;
}

.submenu-list {
  list-style: none;
  padding-left: 1rem;
  margin: 0;
}

.submenu-list li {
  margin-bottom: 0.5rem;
}

.menu-button {
  background: none;
  border: none;
  color: #003153;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 5px;
}

.content-wrapper {
  margin-left: 250px;
  transition: margin-left 0.3s;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15); /* Regular shadow */
}

.content-wrapper.collapsed {
  margin-left: 60px;
}

/* Custom scrollbar styles */
.custom-sidebar::-webkit-scrollbar {
  width: 6px; /* Largura da barra de rolagem */
}

.custom-sidebar::-webkit-scrollbar-track {
  background: #003153;
}

.custom-sidebar::-webkit-scrollbar-thumb {
  background-color: #d2d7dc;
  border-radius: 10px; /* Arredondar a borda */
  border: 2px solid #003153; /* Cor da borda */
}


