<div class="custom-sidebar shadow-lg" [ngClass]="{'collapsed': isCollapsed}">
  <div class="sidebar-header">
    <div class="avatar-wrapper">
      <img src="path/to/avatar.jpg" class="avatar" *ngIf="!isCollapsed">
    </div>
  </div>
  <div class="sidebar-content">
    <div class="profile">
      <div class="profile-info">
        <h6 *ngIf="!isCollapsed">Bruno Rodrigues</h6>
        <p *ngIf="!isCollapsed">Administrator</p>
      </div>
    </div>
    <ul class="menu-list">
      <li>
        <a routerLink="/" title="Home">
          <i class="fas fa-home"></i>
          <span *ngIf="!isCollapsed">Home</span>
        </a>
      </li>
      <li>
        <a title="Cadastro" (click)="toggleSubmenu()">
          <i class="fas fa-user-plus"></i>
          <span *ngIf="!isCollapsed">Cadastros</span>
        </a>
        <ul class="submenu-list" *ngIf="!isSubmenuCollapsed">
          <li>
            <a routerLink="/funcionarios/cadastrar" title="Cadastro de Funcionário">
              <i class="fas fa-user-tie"></i>
              <span *ngIf="!isCollapsed">Cadastro de Funcionário</span>
            </a>
          </li>

          <li>
            <a routerLink="/cadastroveterinario" title="Cadastro de Veterinário">
              <i class="fas fa-user-md"></i>
              <span *ngIf="!isCollapsed">Cadastro de Veterinário</span>
            </a>
          </li>
          <li>
            <a routerLink="/cadastrocliente" title="Cadastro de Cliente">
              <i class="fas fa-user"></i>
              <span *ngIf="!isCollapsed">Cadastro de Cliente</span>
            </a>
          </li>
        </ul>
      </li>
      <li>
        <a routerLink="/agendamentos" title="Agendamentos">
          <i class="fas fa-calendar-alt"></i>
          <span *ngIf="!isCollapsed">Agendamentos</span>
        </a>
      </li>
      <li>
        <a routerLink="/animais" title="Animais">
          <i class="fas fa-paw"></i>
          <span *ngIf="!isCollapsed">Animais</span>
        </a>
      </li>
      <li>
        <a routerLink="/consultas" title="Consultas">
          <i class="fas fa-stethoscope"></i>
          <span *ngIf="!isCollapsed">Consultas</span>
        </a>
      </li>
      <li>
        <a routerLink="/estoque" title="Estoque">
          <i class="fas fa-warehouse"></i>
          <span *ngIf="!isCollapsed">Estoque</span>
        </a>
      </li>
      <li>
        <a routerLink="/exames" title="Exames">
          <i class="fas fa-vials"></i>
          <span *ngIf="!isCollapsed">Exames</span>
        </a>
      </li>
      <li>
        <a routerLink="/fornecedores" title="Fornecedores">
          <i class="fas fa-truck"></i>
          <span *ngIf="!isCollapsed">Fornecedores</span>
        </a>
      </li>
      <li>
        <a routerLink="/medicamentos" title="Medicamentos">
          <i class="fas fa-pills"></i>
          <span *ngIf="!isCollapsed">Medicamentos</span>
        </a>
      </li>
      <li>
        <a routerLink="/pagamentos" title="Pagamentos">
          <i class="fas fa-credit-card"></i>
          <span *ngIf="!isCollapsed">Pagamentos</span>
        </a>
      </li>
      <li>
        <a routerLink="/relatorios" title="Relatórios">
          <i class="fas fa-chart-line"></i>
          <span *ngIf="!isCollapsed">Relatórios</span>
        </a>
      </li>
    </ul>
  </div>
</div>
<div class="content-wrapper shadow-lg" [ngClass]="{'collapsed': isCollapsed}">
  <button type="button" (click)="toggleSidebar()" class="menu-button">
    <i class="fas" [ngClass]="{'fa-arrow-right': isCollapsed, 'fa-arrow-left': !isCollapsed}" style="color: #003153;"></i>
  </button>
  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
</div>
